.date-wrapper 
    .note.yellow
        .pin
            #morf-date  
            #morf-month
.content-wrapper
    .cat-wrapper
        p.demo-par Here we can add admin dashboard



br
br
a(href="index1.html") Menu 1
br
a(href="index2.html") Menu 2
br
a(href="index3.html") Menu 3
