.date-wrapper 
    .note.yellow
        .pin
            #morf-date  
            #morf-month
.content-wrapper
    .cat-wrapper
        p.demo-par Another dinning menu!!!!

        .left-menu-wrapper
            #category Cold dishes
            #menuContainerCold
            #category First courses
            #menuContainerFirst
            #category Second courses
            #menuContainerSecond


br
br
a(href="index1.html") Menu 1
br
a(href="index2.html") Menu 2
br
a(href="admin.html") Admin