.date-wrapper 
    .note.yellow
        .pin
            #morf-date  
            #morf-month
.content-wrapper
    .cat-wrapper
        //- .left-menu-wrapper
        //-     #category Cold dishes
        //-     #menuContainerCold
        //-     #category First courses
        //-     #menuContainerFirst
        //-     #category Second courses
        //-     #menuContainerSecond
        .right-menu-wrapper
            #category Side dishes
            #menuContainerSide
            #category Drinks
            #menuContainerDrinks
            #category Bakery
            #menuContainerBakery

br
br
a(href="index1.html") Menu 1
br
a(href="index3.html") Menu 3
br
a(href="admin.html") Admin