.content-wrapper

    .titleBlock
        h1 LIST OF ALL DISHES IN THE DATABASE
    
        div.search-container
            input#searchBar(type="text" placeholder="Search by title...")


.content-wrapper     
    #menu
        #category Cold dishes
        #menuContainerCold
        #category First courses
        #menuContainerFirst
        #category Second courses
        #menuContainerSecond
        #category Side dishes
        #menuContainerSide
        #category Drinks
        #menuContainerDrinks
        #category Bakery
        #menuContainerBakery
        #category Bread
        #menuContainerBread

    form#menu(action="app/list.php", method="post")  



