.content-wrapper
    .cat-wrapper
        //- p.demo-par Admin



    .titleBlock
        h1 List of all dishes in the database
    

.content-wrapper     
    #menu
        #category Cold dishes
        #menuContainerCold
        #category First courses
        #menuContainerFirst
        #category Second courses
        #menuContainerSecond
        #category Side dishes
        #menuContainerSide
        #category Drinks
        #menuContainerDrinks
        #category Bakery
        #menuContainerBakery
        #category Bread
        #menuContainerBread

    form#menu(action="app/list.php", method="post")  



