doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dinning menu 2
    link(rel="stylesheet", href=require("./styles/index.scss"))
    //- style=require("../../styles/index.scss?inline")
    script(defer src=require("./js/menulist2.js"))

  body
    //- include ./includes/header/header
    main
      include ./includes/menulist/menulist2
    //- include ./includes/footer/footer
      